.PINK{
    background-color: #faf6e6;
}

.LGREEN{
    background-color: #ffffff;
    border: 1.9px solid #3a3a3acb;
}

.BLACK{
    background-color: #252525;
}

.qr-box {
    aspect-ratio: 1 / 1;
}

.cursor{
    cursor: pointer;
}

.chat{
    width: 48px;
    height: 48px;
}

.mesage{
    max-width: 65%;
}

.A{
    background-color: #e9e9e9;
}
.B{
    background-color: #f8f8f8;
}
.C{
    background-color: #4d4d4d;
}
.D{
    background-color: #ffffff;
}
.E{
    background-color: #9dff6fc2;
}
.F{
    background-color: #bebebe67;
}